/*necessary css*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: 'Poppins', sans-serif;
}


.flex {
    display: flex;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.navContainer {
    height: 60px;
    background-color: #ffffff;
    justify-content: space-between;
}

.navlogo {
    width: 15%;
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px 20px;
    /* align-items: center; */
}


.logoimg {
    max-width: 100%;
    max-height: 100%;
}

.link {
    text-decoration: none;
    color: #000000;
}

.links {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:#000000;
}

.link:hover{
    color: #005555;
}

.navlogin {
    width: 20%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

button {
    width: 7em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-weight: 600;
    border: none;
    margin-top: 7px;
    color: #000000;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #ffffff,
        -6px -6px 12px #e3dbe5;
}

.button1 {
    width: 7em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-weight: 600;
    border: none;
    margin-top: 35px;
    margin-left: 155px;
    color: #000000;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #ffffff,
        -6px -6px 12px #e3dbe5;
}

button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #005555 0%, #c2c2da 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 9em;
}

.loginbutton:hover::before {
    width: 9em;
}

.button1::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #005555 0%, #c2c2da 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.button1:hover::before {
    width: 9em;
}

 /*main page*/
.mainContainer {
    background-color: #ffffff;
    padding: 75px 0px 0px 275px;
    margin-top: 50px;
}

.WelcomeContainer {
    height: 450px;
    justify-content: center;
}

.container {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: -15px;
}

h1 {
    text-align: center;
    padding: 20px 0;
    color: #333;
}

ul {
    list-style: disc;
    margin-left: 30px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input[type="checkbox"] {
    margin-top: 5px;
}

