/*necessary css*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: 'Poppins', sans-serif;
}


.flex {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* header */

.navContainer {
    height: 60px;
    background-color: #ffffff;
}

.navlogo {
    width: 15%;
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px 20px;
    /* align-items: center; */
}


.logoimg {
    max-width: 100%;
    max-height: 100%;
}

.navlinks {
    width: 65%;
    background-color: #ffffff;
}

.navItems {
    list-style: none;
    height: 60px;
    margin-top: 40px;
    justify-content: space-between;
    padding: 0px 60px 0px 60px;
    line-height: 60px;
    font-weight: 900;
    text-transform: uppercase;
}

.link {
    text-decoration: none;
    color: #000000;
}

.links {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:#000000;
}

.link:hover{
    color: #005555;
}

.navlogin {
    width: 20%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

button {
    width: 7em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-weight: 600;
    border: none;
    margin-top: 7px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #ffffff,
        -6px -6px 12px #e3dbe5;
}

button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #005555 0%, #c2c2da 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 9em;
}

.loginbutton:hover::before {
    width: 9em;
}

/* footer */
footer {
    bottom: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }
  
  .talk{
    color: #005555;
    margin-top: 10px;
}
  .footerContainer{
      justify-content:space-between;
      gap: 70px;
  }
  
  .LogoAndText{
      width: 25%;
      flex-direction: column;
  }
  
  .logo .logotext{
      padding: 20px;
  }
  
  .AboutInfo{
      width: 100%;
      justify-content: space-between;
      padding: 10px 150px 10px 90px;
      color: #005555;
  }
  
  .list{
      list-style: none;
  }
  
  .gg{
      text-decoration: none;
  }
  
  .alink{
      text-decoration: none;
      color: #000000;
  
  }
  
  .alink:hover{
      color: #78bbbb;
      text-decoration: underline;
  }
  
  .logoimgfooter{
      width: 100px;
  }
  
  /* sub-footer */
  hr{
      height: -10px;
      background-color: #000000;
      margin-top: 1px;
  }
  
  .sub-footer{
      height: 50px;
      bottom: 0;
      width: 100%;
  }
  
  .icons{
      padding-top: 20px;
      padding-bottom: 25px;
      width: 100%;
      justify-content: space-between;
      text-align: center;
      padding-left: 35%;
      font-size:x-large;
      padding-inline: 500px;
  }
  
  .gg{
      color: #000000;
      text-decoration: none;
  }
  .gg:hover{
      color: #78bbbb;
  }

/*main page*/
/* Style for the main container */
.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-top: 175px;
    margin-bottom: 180px;
    margin-left: 50px;
    margin-right: 50px;
}

/* Style for each option button */
.option-button {
    text-decoration: none;
    background-color: #005555;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    width: 30%;
    text-align: center;
}

/* Hover effect */
.option-button:hover {
    background-color: #78bbbb;
    transform: translateY(-2px);
}

/* Style for option headings */
.option h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style for option descriptions */
.option p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
}
