:root {
    --teal: #037272;
    --beige: #f8f8f8;
    --grey: #6f7376;
    --light-grey: #e3e6e7;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    overflow: hidden;
}
.bg img{
    position: absolute;
    width: 60vw;
    left: 0;
    top:50%;
    transform: translateY(-50%);
}
.right {
    width: 40vw;
    position: absolute;
    right: 0;
    top: 0;
    /* border: 2px solid red; */
}

.box {
    margin-top:50vh;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center!important;
    height: 500px!important;

}

.box form {
    background-color: var(--beige);
    border-radius: 2em;
    box-shadow: 0px 1px 20px 2px rgb(0 0 0 / 10%);
    width: 30vw!important;
    min-width: 300px!important;

}
@media (max-width: 700px) {
    .bg img{
        display: none;
    }
    .bg{
        display: none;
    }
    .right{
        position: absolute;
        width: 100vw;
        z-index: 100;
        left: 0;
    }
    .box form{
        width: 60vw!important;
    }
}
.header {
    color: var(--teal);
    font-weight: 600;
    font-size: 1.75em;
    padding: 0.75em;
    text-align: center;
}
/* .content{
    min-width: 300px!important;

} */
.input {
    margin-bottom: 20px;
}

.input span {
    margin-bottom: 5px;
    display: inline-block;
    color: var(--teal);
    font-weight: 400;
    font-size: 1.5em;
}

.input input {
    width: 100%;
    border: none;
    outline: none;
    padding: 1em 0;
    border-bottom: 2px solid var(--light-grey);
    font-size: 1.2em;
    color: var(--grey);
}

.input input::placeholder {
    color: #b5bdc0;
}

.input input[type="submit"] {
    background: var(--teal);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25em;
    padding: 0.75em;
    letter-spacing: 1px;
    font-weight: 500;
}

.submit:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.content {
    background-color: #fff;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 0px 0px 20px -3px rgb(0 0 0 / 10%);
}

.signUp {
    font-size: 1.05em;
    letter-spacing: 1px;
    color: var(--grey);
}

.signUp a {
    color: var(--teal);
}

.signUp a:hover {
    text-decoration: none;
}

/* Media Queries */


@media (max-width: 425px) {
    .box {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 375px) {
    .input input {
        padding: 0.5em 0;
    }

    .input span {
        font-size: 1.25em;
    }
}