@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  /* background: -webkit-linear-gradient(left, #a445b2, #fa4299); */
}

html {
  overflow: hidden;
  background-image: linear-gradient(180deg, #005555 0%, #3ab3b3 100%);
}

::selection {
  background: #4dd186;
  color: #fff;
}

.pagecontainer {
  display: flex;
  align-items: center;
  gap: 300px;
  margin-right: 700px;
}

.containers {
  margin: 50px auto;
  padding: 50px;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1500px;
}

h1 {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 1000;
  text-align: center;
  margin-top: 25px;
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-container h6 {
  flex: 1;
  font-size: 14px;
  padding-block: 10px;
}

.flex-container input,
.flex-container select {
  flex: 1;
  border: 2px solid #e7e8e8;
  margin: 5px 0;
  padding: 10px;
  font-size: 15px;
  width: 100%;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: rgb(112, 127, 140);
  border-radius: 5px;
}

.flex-container select {
  cursor: pointer;
}

.flex-container input:hover {
  border-color: #005555;
  border-width: 2px;
}

.flex-container input::placeholder {
  color: #224e4e;
}

.flex-container select:hover {
  border-color: #005555;
  border-width: 2px;
}

.flex-container select::placeholder {
  color: #828686;
}

/* Submit Button Style */
form .btn {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  position: relative;
  margin-left: 700px;
  overflow: hidden;
  margin-bottom: 25px;
}

form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: linear-gradient(45deg, #377d7d 0%, #0e4c4c 100%);
  border-radius: 5px;
  transition: all 0.4s ease;
}

form .btn:hover .btn-layer {
  left: 0;
  background-color: linear-gradient(45deg, #0a3636 0%, #041b1b 100%);
}

form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

svg {
  margin-top: -80px;
  transform: rotate(180deg) scale(1.4);
  fill: #ffffff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
